.App {
  text-align: center;
  color: #007c72;
  background-image: linear-gradient(
    to right top,
    #fcd4eb,
    #f4d0f0,
    #e8cdf5,
    #dacbf9,
    #c8cafd,
    #b8cfff,
    #a8d4ff,
    #9ad8ff,
    #93e3ff,
    #90edff,
    #92f6ff,
    #9bfff9);
}

.App-header {
  min-height: 100vh;
  margin-bottom: -200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
